* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(18, 18, 18);
}
nav {
    display:flex;
    background-color: rgb(24,24,24);
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75em;
}